body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(4 43 71);
  color: white;
  margin: 0;
}

#dialog {
  z-index: 999;
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 0;
  display: inline-block;
  background-color: rgb(12 65 105);
  border-radius: 16px;

  height: fit-content;
  text-align: center;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 36px;
  padding-right: 36px;
}

#dialog .statistic-image img {
  width: 300px;
}

#mapid {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(12 65 105);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: rgb(12 65 105);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(12 65 105);
  background: rgb(12 65 105);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.search-bar {
  width: 300px;
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 999;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #dialog {
    width: 50%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(12 65 105);
    background: rgb(12 65 105);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  /*Resize the wrap to see the search bar change!*/
  .search-bar {
    width: 300px;
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 999;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(12 65 105);
    background: rgb(12 65 105);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  /*Resize the wrap to see the search bar change!*/
  .search-bar {
    width: 300px;
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 999;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(12 65 105);
    background: rgb(12 65 105);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  /*Resize the wrap to see the search bar change!*/
  .search-bar {
    width: 300px;
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 999;
  }
}
